/* Basic styling */
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  #quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Question styling */
  #question {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Options styling */
  .option {
    display: block;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    margin-bottom: 10px;
  }
  
  .option:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  /* Result styling */
  #result {
    margin-top: 20px;
    font-size: 1.5em;
  }